body {
    margin: 0;
    padding: 0;
    min-height: 100vh;

    background: 
         linear-gradient(rgba(34, 76, 0.15) 0%, rgba(15, 32, 24, 0.85) 80%),
         radial-gradient(circle at 50% 15%, #8cb892 0%, #2d5a3c 45%, #0f2018 100%);

    background-attachment: fixed;
    font-family: sans-serif;

} 